@{
    ViewData["Title"] = "Employees";
}

@model  EmployeesViewModel
<div class="text-center">
    <div style="background-image: url('../img/byu-students.jpg'); background-repeat: no-repeat; background-size: 100%;">
        <br />
        <h1 class="display-4 justify-content-md-center" style="margin: 100px; color: white;">IS Department Employees</h1>
        <br />
        <a class="btn btn-info" style="margin-bottom: 100px;" asp-area="" asp-controller="Home" asp-action="EmployeeForm"> Click Here to Add a New Employee</a>
    </div>
</div>  
<div style="display: flex; padding-top: 10px">
    <form asp-controller="Home" asp-action="Employees" method="get" style="padding: 15px;">
        <p>
            First Name: <input type="text" name="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <vc:types></vc:types>
</div>

<asp:Button Text="Export" OnClick="ExportCSV" runat="server" />

<table class="table table-bordered" id="id1" style="table-layout: fixed; width:auto">
    <thead class="font-weight-bold dar" style="background-color: #002E5D">
        <tr style="color:white;">
            <td>First Name</td>
            <td>Last Name</td>
            <td>International</td>
            <td>Gender</td>
            <td>Email Address</td>
            <td>Expected Hours</td>
            <td>Semester</td>
            <td>Year</td>
            <td>Phone</td>
            <td>BYU ID</td>
            <td>Position</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>

        @foreach (Employee c in Model.employees)
            {
                <tr>
                    <td>@c.FirstName</td>
                    <td>@c.LastName</td>
                    <td>@c.International</td>
                    <td>@c.Gender</td>
                    <td>@c.EmailAddress</td>
                    <td>@c.ExpectedHours</td>
                    <td>@c.Semester</td>
                    <td>@c.Year</td>
                    <td>@c.Phone</td>
                    <td>@c.ByuId</td>
                    <td>@c.PositionType</td>
                    <td><a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-employee="@c.EmployeeId">Edit</a></td>
                    <td><a class="btn btn-primary" asp-controller="Home" asp-action="Delete" asp-route-employee="@c.EmployeeId">Delete</a></td>
                </tr>
            }
    </tbody>


</table>
<button onclick="download_table_as_csv();">Convert To CSV File</button>
